{% extends 'base.html.twig' %}

{% block title %}Mon Compte - La Boutique Creole{% endblock %}

{% block content %}
<h1>Mon Compte</h1>
Bienvenue {{ app.user.firstname }} dans votre compte.<br/>Dans cet espace vous pourrez gerer toutes vos informations personnelles :
<hr>
<ul>
<li><a href="{{ path('account_password') }}">Modifier mot de passe</a></li>
    <li><a href="{{ path('account_address') }}">Gerer mes adresses</a></li>
    <li><a href="{{ path('account_order') }}">Mes commandes</a></li>
<hr>
{% endblock %}
