{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}


        <!-- Three columns of text below the carousel -->
        <h3>Nos meilleures ventes du moment</h3>
    <p>Decouvrez nos produits les plus vendus ce mois-ci :</p>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                {% include("product/single_product.html.twig") %}
            </div>
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Une equipe de passiones. <span class="text-muted">Pour vous faire voyager !</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/doudou.jpg') }}" class="img-fluid" alt="Savoir faire des Antilles" style="max-height:500px">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Un large choix de produits. <span class="text-muted">Des Antilles et d'ailleurs</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('/assets/img/epices.jpg') }}" class="img-fluid" alt="Toutes les Antilles a portee de clic" style="max-height:500px">
            </div>
        </div>




        <!-- /END THE FEATURETTES -->
{% endblock %}